%h1 Forgot password

%p
  Fill in your email address below and we will send you a link that can be used to
  change your password.

= form_tag forgot_password_path, method: 'POST' do

  .form-group{ class: ('has-error' if @post_error) }
    = label_tag :forgot_password_email, 'Email', class: 'control-label'
    = text_field_tag 'forgot_password[email]', '', class: 'form-control'

  .form-group
    = submit_tag "Reset", class: 'btn btn-primary'
